/*!
 * Auther      : Jyothirmayudu.CH
 * Created on  : 8 Jan 2012
 * Mail        : ch.jmayudu@gmail.com
 * Discription : CSS for whole website
 */
*
{
	margin: 0;
	padding: 0;
	font-family: arial,sans-serif;
}
strong, b, h4, #addMake, .carName, strong label, .h3, .h3a, h3 a
{
	font-weight: bold;
}
.detPrice
{
	width: auto;
	padding: 0;
	font-size: 18px;
	font-weight: bold;
	color: #FF9900;
}
#spinner
{
	background: url(../images/content-back.png);
	width: 100%;
	height: 78%;
	text-align: center;
	padding-top: 22%;
	position: fixed;
	z-index: 190000;
	left: 0;
	top: 0;
}
.head100
{
	font-weight: bold;
	border-left: none;
	text-transform: uppercase;
	text-align: center;
	background: #B8BE41;
}
#spinner h4
{
	border: 4px solid rgba(0,0,0,0.5);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 18px rgba(0,0,0,0.9);
	-moz-box-shadow: 0 0 18px rgba(0,0,0,0.9);
	box-shadow: 0 0 18px rgba(0,0,0,0.9);
	width: 380px;
	overflow: hidden;
	margin: 0 auto;
	font-size: 20px;
	color: #333;
	background: #fff;
}
#spinner div
{
	width: 270px;
	height: 100%;
	padding: 15px;
	margin: 0 auto;
	background: #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	font-size: 19px;
}
#spinner img
{
	margin-left: 6px;
	margin-top: 6px;
}
img
{
	border: none;
	text-decoration: none;
}
/*  Popups all  */

#Country-holder, #Login-holder, #alert-holder ,#Loginholder
{
	width: 100%;
	height: 100%;
	background: url(../images/content-back.png) repeat;
	padding: 0;
	margin: 0;
	position: fixed;
	z-index: 9999;
	display: none;
	top: 0;
	left: 0;
	overflow: hidden;
}
/*for modal popup*/
.ModalPopupBG
{
	border: 2px;
	background-color: #dbdbdb;
	filter: alpha(opacity=50);
	opacity: 0.7;
}
#ZipVal, #login
{
	position: relative;
	z-index: 10000;
	width: 500px;
	height: auto;
	min-height: 148px;
	margin: 10% auto;
	background: #fff;
	overflow: hidden;
}
.editListing
{
	text-align: right;
	width: 100%;
	padding: 0;
	margin: 0;
	color: Blue;
}
.editListing a
{
	color: Blue;
	font-size: 11px;
	text-decoration: none;
	display: inline-block;
	margin: 0 7px;
	padding: 0 5px;
}
.editListing a:hover
{
	text-decoration: underline;
}

.editListing a.sendEmail
{
	background: url(../images/sendEmail.png) 0 0 no-repeat;
	padding-left: 18px;
	line-height: 16px;
	height: 16px;
	display: inline-block;
}
.editListing a.editList
{
	background: url(../images/edit.png) 0 0 no-repeat;
	display: inline-block;
	padding-left: 18px;
	line-height: 16px;
	height: 16px;
}
.ModalPopupBG
{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: url(../images/content-back.png) repeat;
}
.popupBody
{
	width: 670px;
	padding: 15px 15px 80px 15px;
	background: #fff url(../images/popUp-back.jpg) bottom left no-repeat;
	height: auto;
	margin: 0 auto;
	text-align: center;
}
.pp
{
	font-size: 18px;
	line-height: 25px;
	color: #666;
	margin-bottom: 30px;
	text-align: left;
}
.loginForm1
{
	width: 420px;
	padding: 15px;
	margin: 0 auto;
	background: #fff;
	position: relative;
	z-index: 100;
	-moz-box-shadow: 0px 0px 12px rgba(0,0,0,0.9);
	-webkit-box-shadow: 0px 0px 12px rgba(0,0,0,0.9);
	box-shadow: 0px 0px 12px rgba(0,0,0,0.9);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.loginForm1 .title
{
	font-size: 18px;
	line-height: 20px;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	border-bottom: #ccc 1px dashed;
	display: block;
	color: #333;
	text-transform:capitalize;
}
.loginForm1 .title a.cls
{
	display: inline-block;
	padding: 0 5px;
	font-size: 12px;
	background: red;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	float: right;
	margin: 0;
	font-family: Century Gothic;
	height: 18px;
	line-height: 18px;
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.4);
	box-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.loginForm1 .title a.cls:active
{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.wrapper
{
	width: 100%;
	overflow: hidden;
}
span.det1
{
	font-size: 11px;
	font-style: italic;
	color: #111;
}
.h3
{
	font-size: 16px;
	color: #333333;
	margin-bottom: 6px;
}
.h3a
{
	font-size: 14px;
	color: #FF9900;
}
.h3b
{
	color: #444;
}
.i1
{
	font-size: 11px;
	color: #666;
}
.wrapper-1
{
	width: 100%;
}
.clear
{
	clear: both;
	font-size: 0%;
	line-height: 0%;
	height: 0;
}
.dummyHeight4
{
	height: 4px;
	overflow: hidden;
}
.dummyHeight8
{
	height: 8px;
	overflow: hidden;
}
.dummyHeight16
{
	height: 16px;
	overflow: hidden;
}
.dummyHeight26
{
	height: 26px;
	overflow: hidden;
}
input, select, textarea
{
	vertical-align: middle;
	font-weight: normal;
}
input[type='text'], select, textarea, input[type='file'], input[type='password']
{
	border: #ccc 1px solid;
	overflow: hidden;
	padding: 4px;
}
select option
{
	line-height: 20px;
	font-size: 12px;
	background: transparent;
}
img
{
	border: 0;
	vertical-align: top;
	text-align: left;
}
ul, ol
{
	list-style: none;
}
object
{
	vertical-align: top;
	outline: none;
}
a
{
	outline: none;
	color: #FF9900;
}
a:hover
{
	text-decoration: none;
}
html
{
	min-width: 1000px;
}
body
{
	background: #e0e0e0;
	font-size: 100%;
	line-height: 18px;
	color: #393939;
	font-size: 14px;
}
h2
{
	padding: 0 0 8px 0;
	letter-spacing: -1px;
	font-size: 30px;
	line-height: 38px;
	font-weight: 400;
	color: #4b4a4a;
}
h2 span
{
	display: block;
	margin: -8px 0 0 0;
	font-size: 0.75em;
	color: #7b7b7b;
}
h2 em
{
	display: block;
	margin: 0 0 -2px 0;
	font-style: normal;
}
h6
{
	padding: 0 0 17px 0;
	line-height: 1.308em;
	font-size: 1.083em;
	color: #6b6a6a;
}
.fleft
{
	float: left;
}
img.fleft
{
	margin: 6px 18px 24px 0;
}
.fright
{
	float: right;
}
.col-1, .col-2, .col-3, .col-4
{
	float: left;
	overflow: hidden;
}
.block-1, .block-2, .block-3, .block-4
{
	float: left;
	overflow: hidden;
}
#main-bg
{
	background: url(../images/main-bg-top.jpg) no-repeat 50% 0%;
	width: 100%;
}
#main
{
	width: 1000px;
	margin: 0 auto;
	font-size: 13px;
}
#header
{
	position: relative;
	height: 151px;
	overflow: visible;
	z-index: 480;
}
.loginStat
{
	width: 700px;
	float: right;
	text-align: right;
	margin-top: 5px;
}
.myCars
{
	margin-right: 15px;
}
.login
{
	margin-left: 5px;
	font-size: 12px;
	font-weight: normal;
	color: #222;
	background: url(../images/login.png) no-repeat top right;
	padding-right: 18px;
	text-decoration: none;
	text-shadow: #fff 1px 1px 0;
}
#page1 #header
{
	height: 475px;
}
#logo
{
	position: absolute;
	top: 10px;
	left: 0;
}
#navi
{
	position: absolute;
	top: 61px;
	right: 205px;
}
#navi li
{
	float: left;
	padding: 0 0 0 18px;
	line-height: 1.5em;
	font-size: 1em;
	color: #717174;
}
#navi li a
{
	text-decoration: none;
	color: #717174;
}
#navi li a:hover, #navi li a.act
{
	color: #ff7701;
}
#search-form
{
	background: #fff;
	width: 173px;
	height: 28px;
	overflow: hidden;
	position: absolute;
	top: 57px;
	right: -1px;
}
#gomobile
{
	height: 38px;
	position: absolute;
	top: 10px;
	right: 45px;
	text-align: right;
	font-size: 11px;
	color: #777;
	padding-top: 5px;
	z-index: 1000;
}
#gomobile img
{
	margin-top: -7px;
}
#search-form input
{
	background: none;
	width: 130px;
	height: 16px;
	padding: 6px 3px 6px 9px;
	border: none;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #b2b2b2;
}
#search-form input#search-submit
{
	background: url(../images/search-submit.gif) no-repeat 0% 0%;
	width: 31px;
	height: 28px;
	padding: 0;
	border: none;
	float: left;
	cursor: pointer;
}
#menu
{
	background: url(../images/menu-tail.gif) repeat-x 0% 0%;
	width: 700px;
	height: auto;
	overflow: visible;
	position: absolute;
	top: 35px;
	right: 0;
}
#menu ul
{
	width: 100%;
	position: relative;
	z-index: 499;
}
#menu ul li
{
	background: url(../images/menu-divider.gif) no-repeat 100% 0%;
	float: left;
	padding: 0 2px 0 0;
	position: relative;
	z-index: 500;
}
#menu ul li.last
{
	background: none;
}
#menu ul li a
{
	display: block;
	height: 34px;
	padding: 0 19px 0 20px;
	float: left;
	line-height: 34px;
	font-weight: bold;
	text-decoration: none;
	color: #717174;
	font-size: 14px;
}
#menu ul li a:hover, #menu ul li a.act
{
	color: #FF9900;
}
#menu li ul
{
	display: none;
	position: absolute;
	top: 34px;
	left: 0px;
	width: 140px;
	height: auto;
	z-index: 501;
	text-align: left;
	background: #666;
}
#menu li ul li
{
	border-bottom: 1px solid #333;
	color: #fff;
	background: none;
	width: 138px;
}
#menu li ul li:last-child
{
	border: none;
}
#menu li ul li a, #menu li.act ul li a
{
	text-align: left;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	background: none;
}

#menu ul li:hover ul, #menu ul li a:hover ul
{
	display: block;
}
#menu li ul li a:hover, #menu li.act ul li a:hover
{
	color: #FF9900;
}


#search-box
{
	background: url(../images/search-bg.png);
	width: 465px;
	height: 389px;
	overflow: hidden;
	top: 77px;
	left: 0px;
	position: absolute;
	z-index: 50;
}
#search-box .inner
{
	padding: 26px 28px 27px 29px;
}
#search-box #right
{
	float: right;
	width: 145px;
}
#search-box img
{
	margin: 0 0 42px 1px;
}
#search-box b a
{
	background: url(../images/car-button.gif) no-repeat 0% 0%;
	display: block;
	width: 260px;
	height: 40px;
	overflow: hidden;
	float: left;
	margin: 42px 0 0 0;
}
#car-form
{
	width: 313px;
}
#car-form label
{
	display: block;
	height: 46px;
	overflow: hidden;
}
#car-form strong
{
	display: block;
	padding: 0 0 3px 0;
	line-height: 1.308em;
	font-size: 1.083em;
	color: #fff;
}
.black
{
	color: #666666;
	font-weight: bold;
	line-height: 28px;
	font-size: 14px;
	width: 100%;
	text-align: center;
}
.black2
{
	color: #666666;
	font-weight: bold;
	font-size: 14px;
	width: 100%;
	text-align: left;
}

.sp20
{
	width: 20px;
	height: 20px;
	overflow: hidden;
}
.form-1-submit
{
	background: url(../images/button1.png) repeat-x;
	width: 130px;
	height: 40px;
	line-height: 20px;
	font-size: 15px;
	font-weight: bold;
	color: #333;
	border: none;
	overflow: hidden;
	margin: 18px 0 0 0;
	cursor: pointer;
	border-bottom: #999 2px solid;
	border-top: #fff 2px solid;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
/* #car-form select {
		background: #fff;
		width: 145px;
		height: 22px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
		color: #494949;
	}
	
	#car-form input[type='submit'] {
		background: url(../images/car-submit.gif) no-repeat 0% 0%;
		width: 146px;
		height: 40px;
		overflow: hidden;
		border: none;
		margin: 18px 0 0 0;
		cursor: pointer;
	}
	
	 #car-form input.input1 {
		background: #fff;
		width: 145px;
		height: 19px;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 1em;
		color: #494949;
	}  */

#car-form span
{
	display: block;
	width: 100%;
	padding: 25px 0 0 0;
	overflow: hidden;
	line-height: 1.5em;
	color: #fff;
}
#car-form span a
{
	margin: 0 0 0 1px;
	color: #fff;
}
/* Pagination 0 */
.paggi
{
	float: left;
	text-align: center;
	list-style: none;
	margin: 0 0 10px 10px;
	padding: 0;
}
.paggi li, .carsList li
{
	list-style: none;
	float: left;
	margin: 2px 4px;
	font-family: arial, helvetica, sans-serif;
}
.paggi li a, .carsList li a
{
	color: #666666;
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}
.paggi li a:hover, .paggi li.pag-act a, .carsList li a:hover
{
	color: #FF9900;
	text-decoration: underline;
}
.carsList
{
	padding: 0;
	margin: 4px auto 20px auto;
	width: 98%;
}
.carsList li a
{
	font-size: 13px;
	text-transform: capitalize;
	font-weight: bold;
}
.carsList li a:after
{
	content: ',';
}
.carsList li:last-child a:after
{
	content: none;
}
.bottomAdd
{
	width: 728px;
	margin: 5px 0 5px -10px;
	overflow: hidden;
	height: 90px;
}
#botAd iframe
{
	width: 642px;
}
#botAd iframe table
{
	width: 642px;
}
#botAd iframe table td
{
	width: 209px;
}
#botAd iframe img
{
	height: 90px;
	width: 642px;
}

.left-ad-google
{
	width: 180px;
	margin: 5px auto;
	overflow: hidden;
	width: 180px;
	overflow: hidden;
	height: auto;
	padding: 0;
	background: #EEE;
	border: white 1px solid;
	margin: 5px auto;
	padding: 3px;
	margin: 10px 0;
}
.ads1
{
	width: 100%;
	margin: 20px auto;
}
.left-ad
{
	width: 340px;
	float: left;
	border: #ccc 1px solid;
	text-align: left;
	padding: 4px;
	margin: 0;
	background: #fff;
	overflow: hidden;
}
.right-ad
{
	width: 340px;
	float: right;
	border: #ccc 1px solid;
	text-align: left;
	padding: 4px;
	margin: 0;
	background: #fff;
	overflow: hidden;
}
.horiz-ad
{
	width: 700px;
	border: #ccc 1px solid;
	text-align: center;
	padding: 4px;
	margin: 10px auto;
	background: #fff;
	overflow: hidden;
}


/* SCRIPT start */

.container
{
	width: 630px;
	height: 389px;
	overflow: hidden;
	position: relative;
}
.slides
{
	position: absolute;
	top: 0;
	left: 0;
}


.slides > div
{
	position: absolute;
	top: 0;
	width: 630px;
	height: 389px;
	display: none;
}
/*
	 * Optional
	*/
#loopedSlider, #newsSlider
{
	width: 630px;
	height: 389px;
	position: absolute;
	top: 77px;
	left: 370px;
}
#loopedSlider
{
	/* background:url(../images/slides/image-01.jpg) right top no-repeat; */
}
ul.pagination
{
	position: absolute;
	top: 356px;
	left: 21px;
	z-index: 200;
}
ul.pagination li
{
	float: left;
	margin: 0 2px 0 0;
	list-style-type: none;
}
ul.pagination li a
{
	background: url(../images/gallery-bg.png) no-repeat 0% 0%;
	display: block;
	width: 15px;
	height: 15px;
	overflow: hidden;
	float: left;
	text-decoration: none;
	font-size: 0;
	line-height: 0;
}
ul.pagination li.active a
{
	background: #fff;
}
.container p
{
	background: url(../images/gallery-block.png) no-repeat 0% 0%;
	width: 287px;
	height: 55px;
	padding: 13px 3px 0 16px;
	overflow: hidden;
	position: absolute;
	top: 321px;
	right: 0px;
}
.container p big
{
	display: block;
	width: 100%;
	overflow: hidden;
	font-size: 1em;
}
.container p small
{
	display: block;
	width: 100%;
	padding: 6px 0 0 0;
	overflow: hidden;
	font-size: 1em;
}
.container p strong
{
	float: left;
	padding: 0 9px 0 0;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
}
.container p strong a
{
	color: #fff;
}
.container p b
{
	float: left;
	font-size: 1.333em;
	color: #fff;
}
.container p em
{
	float: left;
	width: 97px;
	padding: 0 2px 0 0;
	font-style: normal;
	color: #9e9e9e;
}
.container p em img
{
	float: left;
	margin: 6px 8px 0 1px;
}
.container p i
{
	float: left;
	width: 89px;
	padding: 0 2px 0 0;
	font-style: normal;
	color: #9e9e9e;
}
.container p i img
{
	float: left;
	margin: 5px 14px 0 0;
}
.container p span
{
	float: left;
	color: #9e9e9e;
}
.container p span img
{
	float: left;
	margin: 5px 10px 0 0;
}
.container p span a
{
	color: #9e9e9e;
}
/* SCRIPT end */

#content
{
	background: #fff url(../images/content-tail.gif) repeat-y 0% 0%;
	padding: 0 0 6px 0;
}
#page3 #content
{
	background: #fff;
}
#content p
{
	padding: 0 0 7px 0;
	line-height: 18px;
	font-size: 13px;
	color: #333333;
}
#column-left
{
	float: left;
	width: 270px;
	overflow: hidden;
}
#column-left .indent
{
	padding: 15px 5px;
}
#column-left .indent-1
{
	padding: 23px 27px 27px 27px;
}
#column-right
{
	background: #fff;
	float: left;
	width: 730px;
	overflow: hidden;
}
#column-right .indent
{
	padding: 10px;
}
#column-right .indent-1
{
	padding: 23px 19px 0 29px;
}
#column-right .indent-2
{
	padding: 0 20px 0 19px;
}
.column-indent
{
	position: relative;
	margin: 0;
}
.list
{
	padding: 0 0 14px 0;
	overflow: hidden;
}
.list li
{
	background: url(../images/marker.gif) no-repeat 0% 10px;
	padding: 0 0 0 17px;
	line-height: 1.867em;
	font-size: 1.25em;
	color: #4b4a4a;
}
.list li a
{
	text-decoration: none;
	color: #4b4a4a;
}
.list li a:hover
{
	text-decoration: underline;
}
.list-1
{
	width: 100%;
	padding: 0;
	overflow: hidden;
}
.list-1 li
{
	width: 97%;
	padding: 5px;
	overflow: hidden;
	vertical-align: top;
	position: relative;
	z-index: 15;
	color: #4b4a4a;
	margin: 2px;
}
.list-1 li:hover
{
	background: #fcf7ed;
}

.list-1 li img.thumbV
{
	float: left;
	margin: 2px 7px 0 0;
}
.list-1 li strong
{
	display: block;
	padding: 0 0 8px 0;
	line-height: 1.417em;
	font-size: 13px;
	font-weight: normal;
	color: #e0171e;
}
.list-1 li strong a
{
	color: #FF9900;
}
.list-2, .list-5
{
	width: 100%;
	padding: 0 0 23px 0;
	overflow: hidden;
}
.list-2 li, .list-5 li
{
	background: #FF9900;
	float: left;
	width: 140px;
	height: 160px;
	margin: 0 2px 0 0;
	padding: 0 0 15px 0;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	overflow: hidden;
	position: relative;
	z-index: 15;
}
 .list-5 li{ float:left; padding:2px; background: #f7f7f7; border: white 2px solid; margin:5px; width: 116px; text-align:center; color:#333; font-size: 11px; outline: 1px solid #eee;}
 
 .list-5 li:hover,
 .list-5 li:focus{ float:left; padding:2px; background: #FCF7ED; border: #FEDAA0 2px solid; margin:5px; width: 116px; text-align:center; color:#333; font-size: 11px; outline: 1px solid #F90;}
  .list-5 li a h4 a{ font-size:11px; text-align:center; }
  
  .list-5 li a h4 { height:33px; overflow:hidden; display:block; font-size:11px; text-decoration:none; }
	
	 .list-5 li table{ width:96%; margin:0 auto; }
    .list-5 li td, .list-5 li a td{ text-align:left; font-weight:normal; text-decoration:none; color:#333; }
	.list-5 li td span, .list-5 li a td span { font-weight:bold; text-decoration:none; color:#333; }
  
  
  .list-5 li .thumb{ width:117px; height:71px; }
  
.list-2 li.extra, .list-5 li.extra
{
	margin: 0;
}

.list-5 li img.thumbH{ display:none; }


.list-2 li img.thumbH, .list-5 li img.thumbH
{
	margin: 0 0 5px 0;
}
.list-2 li strong, .list-5 li strong
{
	display: block;
	padding: 0 5px 6px 17px;
	line-height: 1.417em;
	font-size: 13px;
	font-weight: normal;
	color: #fff;
}

.list-2 li strong a, .list-5 li strong a
{
	color: #fff;
}
.list-2 li b, .list-5 li b
{
	display: block;
	padding: 0 0 0 16px;
}
.list-3
{
	overflow: hidden;
}
.list-3 li
{
	width: 100%;
	vertical-align: top;
	overflow: hidden;
	line-height: 1.308em;
	font-size: 1.083em;
	color: #636262;
}
.list-3 li a
{
	display: block;
	padding: 2px 0 2px 19px;
	text-decoration: none;
	color: #636262;
}
.list-3 li a:hover
{
	background: #535252;
	color: #fff;
}
.list-3 li.act a
{
	background: #535252;
	color: #fff;
}
.list-4
{
	padding: 0 0 8px 0;
	overflow: hidden;
	line-height: 1.308em;
	font-size: 1.083em;
	color: #676666;
}
.list-4 dt
{
	font-weight: bold;
	color: #676666;
}
.list-4 dt a
{
	text-decoration: none;
	color: #676666;
}
.list-4 dt a:hover
{
	text-decoration: underline;
}
.list-4 dd
{
	padding: 0 0 17px 0;
}
.list-5
{
	padding: 0 0 6px 0;
	overflow: hidden;
}
.list-5 dt
{
	padding: 0 0 6px 0;
	line-height: 1.308em;
	font-size: 1.083em;
	color: #e0171e;
}
.list-5 dt a
{
	color: #e0171e;
}
.list-5 dd
{
	padding: 0 0 22px 0;
	line-height: 1.133em;
	font-size: 1.25em;
	color: #4b4a4a;
}
.list-5 dd p
{
	padding: 0 !important;
	line-height: 1.133em !important;
	font-size: 1em !important;
	color: #4b4a4a !important;
}
.list-6
{
	width: 100%;
	overflow: hidden;
}
.list-6 li
{
	float: left;
	width: 265px;
	padding: 0 40px 18px 0;
	line-height: 1.133em;
	font-size: 1.25em;
	color: #4b4a4a;
}
.list-6 li.extra
{
	padding: 0;
}
.list-6 li img
{
	float: left;
	margin: 2px 17px 0 0;
}
.list-6 li strong
{
	display: block;
	padding: 0 0 5px 0;
	line-height: 1.417em;
	font-size: 0.8em;
	font-weight: normal;
	color: #e0171e;
}
.list-7
{
	padding: 0 0 12px 0;
	overflow: hidden;
}
.list-7 li
{
	padding: 0 0 17px 0;
	line-height: 1.308em;
	font-size: 1.083em;
	color: #6b6a6a;
}
.list-7 li a
{
	text-decoration: none;
	color: #e95c61;
}
.list-7 li a:hover
{
	text-decoration: underline;
}
.list-indent
{
	padding: 0 0 47px 0 !important;
}
.link
{
	float: left;
	word-spacing: 2px;
	line-height: 1.417em;
	font-size: 1em;
	color: #FF9900;
}
.link-indent
{
	margin: 0 0 62px 0 !important;
}
.info-box
{
	background: #f1f1f1;
	margin: 0;
	padding:0;
}
.line-hor
{
	background: #e4e4e4;
	width: 100%;
	height: 5px;
	overflow: hidden;
	margin: 0 0 18px 0;
}
.lists
{
	width: 100%;
	overflow: hidden;
}
.lists div
{
	width: 100%;
	padding: 0 0 8px 0;
	overflow: hidden;
}
.lists ul
{
	width: 100%;
	overflow: hidden;
}
.lists ul li
{
	float: left;
	padding: 0 18px 0 0;
	line-height: 1.5em;
	font-size: 1em;
	color: #b1b0b0;
}
.lists ul li a
{
	text-decoration: none;
	color: #b1b0b0;
}
.lists ul li a:hover
{
	text-decoration: underline;
}
.lists ul li span
{
	padding: 0 3px 0 0;
	word-spacing: 3px;
}
.privacy
{
	padding: 23px 25px 6px 27px;
}
.privacy p span
{
	display: block;
	font-size: 0.923em;
	padding: 10px 0 0 0;
	color: #e0171e;
}
#menu-indent
{
	padding: 0 20px 0 19px;
}

#footer
{
	width: 930px;
	margin: 0 auto;
	height: 70px;
	overflow: hidden;
	margin-bottom: 20px;
	padding: 10px;
	text-align: center;
	color: #666;
}
#footer a
{
	color: #666;
	text-decoration: none;
	text-shadow: #fff 1px 1px 0;
}
#footer a:hover
{
	color: #111;
	text-decoration: underline;
	text-shadow: none;
}
#footer .makeModelSel a{ color:#F60 }


#footer p
{
	padding: 6px 0 0 1px;
	line-height: 1.5em;
	font-size: 1em;
	color: #a1a1a1;
}
#footer p a
{
	margin: 0 0 0 9px;
	text-decoration: none;
	color: #a1a1a1;
}
#footer p a:hover
{
	text-decoration: underline;
}
/* Search Results*/
.searchResultsBox
{
	width: 98%;
	padding: 8px 6px;
	background: #fff;
	border: #fff 1px solid;
	border-bottom: #ccc 1px dotted;
	margin: 0;
}
.searchResultsBox td
{
	vertical-align: top;
}
.searchResultsBox:hover, .searchResultsBox:focus, .activeBox
{
	background: #fcf7ed;
	border: #fedaa0 1px solid;
}
.activeBox
{
	margin-bottom: 15px;
}
.searchResultsBox:hover .searchCarCheckBox, .searchResultsBox:focus .searchCarCheckBox
{
	background: #f9e7c9;
}
.searchResultsBox:hover .carName, .searchResultsBox:focus .carName
{
	color: #FF9900;
}
.searchCarCheckBox
{
	width: 185px;
	background: #ebebeb;
}
.searchCarCheckBox table
{
	width: 98%;
}
.searchCarCheckBox td
{
	padding: 5px;
}
.searchCarDetails .carName
{
	font-size: 13px;
	font-weight: bold;
	color: #333333;
	text-decoration: underline;
	text-transform: capitalize;
	line-height: 21px;
}
.searchCarDetails p.details, .searchCarDetails p.p1
{
	padding: 5px 0;
	margin: 0;
	font-weight: normal;
}
.searchCarThumbHolder
{
	width: 90px;
}
.searchCarThumbHolder .thumb
{
	border: 2px solid #666;
	cursor: pointer;
}
.searchResultsBox:hover .thumb, .searchResultsBox:focus .thumb
{
	border: 2px solid #fedaa0;
}
img.slide1a
{
	width: 250px;
	height: 199px;
}
#carDet1 td
{
	line-height: 23px;
	font-size: 12px;
}
.UserCarInfo, .VisitsTable
{
	padding: 6px;
	background: #eee;
	border: #fff 3px solid;
	outline: 1px solid #ccc;
	width: 98%;
}
.VisitsTable
{
	padding: 0;
	margin: 5px 0 20px 0;
	width: 100%;
}
.VisitsTable th
{
	font-weight: bold;
	text-align: center;
	background: url(../images/btnbg-b.jpg) repeat-x;
	padding: 8px 4px;
	color: #fff;
	border: #fff 1px solid;
}
.VisitsTable td
{
	text-align: center;
	font-weight: normal;
	color: #333;
	font-size: 12px;
	border: #fff 1px solid;
	padding: 4px;
}
.tab2 td
{
	text-align: left;
}
.package-pricing
{
	width: 120px;
	font-size: 11px;
	text-align: center;
	position: absolute;
	top: 28px;
	left: 20px;
	color: #fff;
}
.addMake
{
	width: 480px;
	padding: 0 5px 1px 5px;
	margin: -27px 5px 0px 5px;
	position: relative;
	z-index: 10;
	left: -10px;
	background: none; /* #eee; 	border:#fff 1px solid; */
	display: none;
}
.leftBox1
{
	width: 95%;
	padding: 10px 5px;
	margin: 5px 0px;
	background: #eee;
	border: #fff 1px solid;
}

#lBrandAds
{
	width: 180px;
	overflow: hidden;
	height: auto;
	padding: 0;
	background: #eee;
	border: #fff 1px solid;
	margin: 5px auto;
}
.#lBrandAds img
{
	width: 180px;
}


.make1, .make2
{
	width: 100%;
	display: none;
}
.close
{
	float: left;
	text-align: right;
	color: #FF3300;
	line-height: 19px;
	margin-top: 5px;
	text-decoration: none;
	font-weight: bold;
}

.hed2 .close
{
	float: right;
	margin-right: 20px;
	top: 10px;
}
.box1
{
	float: left;
	width: 280px;
	padding: 10px;
	border: #ccc 1px dotted;
	background: #eee;
}
.box2
{
	float: right;
	width: 380px;
	padding: 10px;
}
.box3
{
	width: 96%;
	padding: 10px;
	background: #fcf7ed;
	border: #fedaa0 1px solid;
	margin: 10px 0;
}
.box3 td
{
	vertical-align: top;
}
.box2 p
{
	font-size: 12px;
	margin-bottom: 10px;
}
.button1, .button1-b
{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: url(../images/btnbg.png) repeat-x scroll 0 0;
	border: 1px solid #FA2;
	color: #333;
	display: inline-block;
	margin: 0;
	padding: 5px 10px 3px 10px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 #FE6;
	overflow: visible;
	width: auto;
	text-decoration: none;
	cursor: pointer;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}
.button1b
{
	font-size: 12px;
	padding: 5px 8px;
}
.button1-b
{
	background: url(../images/btnbg-b.jpg) repeat-x scroll 0 0;
	text-shadow: 0 1px 0 #666;
	border: 1px solid #666;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	display: inline-block;
	margin: 0;
	padding: 5px 10px 3px 10px;
	text-align: center;
	text-decoration: none;
	overflow: visible;
	width: auto;
	text-decoration: none;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	float: left;
	margin: 0 6px 0 0;
}
.button-blank
{
	width: 100%;
	margin: 0 auto;
	background: none;
	border: none;
	font-size: 12px;
	padding: 9px 0;
	text-align: center;
	cursor: pointer;
	color: #fff;
}
.button1-b:hover
{
	background: url(../images/btnbg.png) repeat-x scroll 0 0;
	text-shadow: 0 1px 0 #FE6;
}
.leftBox1 ul
{
	margin: 0;
	padding: 0;
	width: 92%;
}
.leftBox1 li
{
	line-height: 20px;
	background: url(../images/ul-arrow.gif) 0 11px no-repeat;
	margin-bottom: 10px;
}
.bullet li
{
	line-height: 20px;
	background: url(../images/ul-arrow.gif) 0 6px no-repeat;
	margin-bottom: 0px;
	padding-left: 10px;
}
/* Ticker 1*/
.ticker1
{
	width: 100%;
	margin: auto;
	margin-top: 10px;
	border: 0;
}
.ticker1 ul li
{
	padding: 0;
	margin: 0;
	height: auto;
	vertical-align: top;
}
.ticker1 ul li div
{
	width: 100%;
	border-bottom: #ccc 1px solid;
	margin: 0 0 0 10px;
	padding: 5px;
}
.ticker1 ul li div:hover
{
	background: #fcf7ed;
}
/* Tabbed Menu */
.tabMenu
{
	padding: 0;
	clear: both;
}
.tabMenu li
{
	display: inline;
}
.tabMenu li a
{
	background: #ccf;
	padding: 10px;
	float: left;
	border-right: 1px solid #ccf;
	border-bottom: none;
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
.tabMenu li.active a
{
	background: #eef;
}
.tabMenu.content
{
	float: left;
	clear: both;
	border: 1px solid #ccf;
	border-top: none;
	border-left: none;
	background: #eef;
	padding: 10px 20px 20px;
	width: 400px;
}

/* Slider Holder */
.sliderHolder
{
	float: left;
	width: 250px;
	margin-right: 15px;
}

div.disc
{
	float: left;
	width: 410px;
}
.disc p
{
	padding: 10px 0;
	margin: 10px 0;
}
.disc td
{
	line-height: 26px;
}

/*====TOP MENU====*/

#top-menu-row
{
	height: 57px;
	width: 100%;
	background: url(../images/top-menu-bg.jpg) top left repeat-x;
}

ul.maximenuCK li.level0 > a span.titreCK
{
}

/*====TOP====*/

#top-row
{
	background: url(../images/top-row-bg.png) top left repeat-x;
	width: 100%;
}

#top-bg
{
	background: url(../images/top-bg.png) top center no-repeat;
	width: 100%;
}

#logo
{
	position: absolute;
	top: 20px;
	left: 10px;
	z-index: 100;
}

#logo h1
{
	margin: 0 auto;
	padding-top: 17px;
}

.mod-search form
{
	margin: 0;
}


/*======Sell Packages Top Blocks========*/

#top
{
	height: 470px;
	width: 700px;
	position: relative;
	z-index: 0;
}

#top .newsflash
{
	position: relative;
	z-index: 2;
}

#top .block
{
	width: 175px;
	float: left;
	position: absolute;
	z-index: 3;
	border-left: 1px solid #bdbdbd;
}

#top .block.first
{
	left: 0;
	border: none;
	width: 180px;
}

#top .block.second
{
	left: 180px;
}

#top .block.third
{
	left: 355px;
}

#top .block.fourth
{
	left: 530px;
}

#top .block h4
{
	display: block;
	height: 30px;
	line-height: 30px;
	background: #131212;
	color: #fff;
	font-size: 13px;
	margin: 0;
	text-align: center;
	font-weight: bold;
}

#top .block.active h4
{
	background: url(../images/host-title-act.jpg) top left repeat-x #1d1d1d;
}


#top .block > p.price
{
	font-size: 44px;
	line-height: 84px;
	color: #fff;
	margin: 0;
	text-align: center;
	background: url(../images/price-bg.jpg) top left repeat-x;
	height: 84px;
}

#top .block.active, #top .block.second:hover, #top .block.third:hover, #top .block.fourth:hover
{
	position: absolute;
	top: -4px;
	z-index: 4;
	border: none;
	width: 175px;
	-webkit-box-shadow: #000 0 0 1em;
	-moz-box-shadow: #000 0 0 1em;
	box-shadow: #000 0 0 1em;
	font-weight: bold;
}
.second, .third, .fourth
{
	text-align: center;
}
#top .block.active .add-cart, #top .block.second:hover .add-cart, #top .block.third:hover .add-cart, #top .block.fourth:hover .add-cart
{
	height: 88px;
}

#top .block.active p.price, #top .block.second:hover p.price, #top .block.third:hover p.price, #top .block.fourth:hover p.price
{
	background: url(../images/hosting-price-act.jpg) top center no-repeat;
	height: 88px;
}


#top .block.second:hover ul li a, #top .block.third:hover ul li a, #top .block.fourth:hover ul li a
{
	font-weight: bold;
	color: #FF9900;
}



#top .block > p span.sign
{
	font-size: 20px;
	position: relative;
	top: -25px;
}

#top .block > p span.month
{
	font-size: 18px;
	position: relative;
	top: -3px;
	text-transform: uppercase;
}

#top .block ul
{
	background: url(../images/box-ul-bg.jpg) bottom left repeat-x #dbdbdb;
	margin: 0;
	display: block;
	min-height: 210px;
	padding-bottom: 1px;
}

#top .block.active ul
{
	background: url(../images/box-ul-bg.jpg) bottom left repeat-x #f1f1f1;
}

#top .block ul li
{
	background: #e7e7e7 url(../images/price-list-bg2.jpg) bottom left repeat-x;
	height: auto;
	padding: 10px 0 0 0;
	text-align: center;
}

#top .block.active ul li
{
	background: url(../images/price-list-bg-act.jpg) bottom left repeat-x;
}


#top .block ul li a
{
	line-height: 40px;
	padding-left: 0px;
	font-size: 12px;
	color: #292929;
	display: block;
	height: 40px;
	text-decoration: none;
	cursor: default;
}
#top .block.first ul li a
{
	padding-left: 15px;
	font-weight: bold;
	font-size: 12px;
}
#top .block ul li a:hover
{
	color: #FF9900;
}

#top .block .add-cart
{
	background: url(../images/addtocart-bg.jpg) bottom left repeat-x #f9f9f9;
	padding: 0px 33px;
	text-align: center;
	height: 83px;
	position: relative;
}

#top .block .add-cart p.button
{
	background: url(../images/button-bg.png) top left repeat-x;
	display: block;
	height: 25px;
	margin: 0;
	position: relative;
	text-align: center;
	top: 20px;
	width: 90px;
	margin: 0 auto;
	text-decoration: none;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
#top .block .add-cart p.button a
{
	text-decoration: none;
}

#top .block .add-cart p.button:hover
{
	background: url(../images/button-bg.png) bottom left repeat-x;
}

#top .block .add-cart p.button a
{
	display: block;
	padding: 0 15px;
	text-align: center;
}


#top .block .add-cart p.button a > span
{
	font-size: 14px;
	line-height: 30px;
	color: #fff;
	font-weight: bold;
	text-align: center;
}



#top .block
{
	width: 175px;
	float: left;
	position: absolute;
	z-index: 3;
	border-left: 1px solid #BDBDBD;
}
.hedBack
{
	display: block;
	padding: 8px 5px;
	margin-top: 0;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	color: black;
	border-top: 1px solid white;
	border-bottom: 1px solid #999;
	background: url(../images/AccordionTab0.gif);
	text-shadow: white 1px 1px 0;
	font-size: 13px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
}

.hed2
{
	cursor: pointer;
	display: block;
	padding: 8px 5px;
	margin-top: 0;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	color: black;
	border-top: 1px solid white;
	border-bottom: 1px solid #999;
	background: url(../images/AccordionTab0.gif);
	text-shadow: white 1px 1px 0;
}

.hed2:hover
{
	color: white;
	background-image: url(  "../images/AccordionTab2.jpg" );
	text-shadow: #222 1px 1px 1px;
}
.box4
{
	width: 99%;
	margin-bottom: 10px;
}
.star
{
	font-size: 12px;
	color: #FF3300;
	font-weight: bold;
}
.form1
{
	margin: 6px 0 6px 20px;
	width: auto;
	min-width: 300px;
}
select, .form1 textarea
{
	font-size: 11px;
}
.form1 select, .form1 textarea
{
	width: 89%;
}
textarea
{
	width: 94%;
	resize: none;
}
.textarea
{
	width: 94%;
	resize: none;
}
.input0
{
	width: 25px;
}
.input1
{
	width: 33px;
}

.form1 td select, .form1 td input
{
	margin-bottom: 6px;
	font-size: 11px;
}

.searchResultsHolder
{
	width: 100%;
	padding: 0 0 20px 0;
	margin: 0;
}
p.details
{
	display: none;
}


.resFound
{
	float: right;
	margin-right: 5px;
	font-weight: bold;
	padding-top: 5px;
}
.rightArrow, .leftArrow
{
	font-size: 14px;
	font-weight: bold;
	width: 30px;
	height: auto;
	padding: 4px 1px;
	color: #333;
	background: #eee;
	-moz-border-top-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-ms-border-top-right-radius: 3px;
	-ms-border-bottom-right-radius: 3px;
	-o-border-top-right-radius: 3px;
	-o-border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	float: right;
	cursor: pointer;
	text-align: center;
	border: 1px solid #e0e0e0;
}
.leftArrow
{
	border-radius: 0x;
	border-radius: 0;
	border-radius: 0;
	-moz-border-top-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-ms-border-top-right-left: 3px;
	-ms-border-bottom-left-radius: 3px;
	-o-border-top-left-radius: 3px;
	-o-border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.rightArrow:hover, .leftArrow:hover
{
	background: #f2f2f2;
	border: 1px solid #ccc;
}
.leftArrow .leftAct
{
	background: url(../images/sprite_black2.png) no-repeat -24px -24px;
	width: 10px;
	height: 15px;
	overflow: hidden;
	margin: 2px auto;
}
.leftArrow .leftDis
{
	background: url(../images/sprite_black1.png) no-repeat -24px -24px;
	width: 10px;
	height: 15px;
	overflow: hidden;
	margin: 2px auto;
	cursor: default;
}
.rightArrow .rightAct
{
	background: url(../images/sprite_black2.png) no-repeat -47px -24px;
	width: 10px;
	height: 15px;
	overflow: hidden;
	margin: 2px auto;
}
.rightArrow .rightDis
{
	background: url(../images/sprite_black1.png) no-repeat -47px -24px;
	width: 10px;
	height: 15px;
	overflow: hidden;
	margin: 2px auto;
	cursor: default;
}

.input1
{
	width: 98%;
	margin: 0 auto;
	padding: 4px 6px;
	font-size: 12px;
	font-family: arial,helvetica,sans-serif;
	color: #222;
	border: #CCC 1px solid;
	margin-bottom: 6px;
}
#div1 td, #div2 td, #div1 div, #div2 div
{
	background: #fff;
}

.photoUpload
{
	width: 100%;
	margin: 10px 0;
}
.photoUpload td
{
	padding: 4px;
}
.photoUpload td p
{
	margin: 4px 0;
	font-weight: bold;
}
.num
{
	background: #ff7700;
	color: #fff;
	font-size: 17px;
	font-weight: bold;
	padding: 5px 10px;
	float: left;
	margin-right: 10px;
	height: 17px;
	width: 38px;
}
.p1
{
	font-size: 12px;
	font-weight: normal;
}
.VisitsTable
{
}


/* Alert Css */

.alert
{
	/*width:357px; */
	width: 370px;
	padding: 0;
	font-weight: normal;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #5e5e5e;
	background: #5281d2 url(../images/head-mid.png) 0 -1px repeat-x;
	position: fixed;
	left: 35%;
	top: 29%;
	z-index: 18999;
	margin: 0 auto;
	font-family: "Lucida Grande" , Verdana, Arial, "Bitstream Vera Sans" , sans-serif;
	padding: 0 3px 3px 3px;
}

.alert h4
{
	font-size: 11px;
	color: #fff;
	padding: 4px 3px;
	margin: 0;
}
.alert .cls
{
	width: 44px;
	height: 19px;
	background: url(../images/cls.png);
	float: right;
	margin: -5px 0 0 0;
	position: relative;
}
.alert .cls:hover
{
	background: url(../images/cls-act.png);
}
.alert .data
{
	background: #d4d0c8; /* width:340px; */
	margin: 0 auto;
	color: #000;
	font-size: 11px;
	line-height: 20px;
	height: 80px;
	min-height: 80px;
	padding: 0 7px 7px 7px;
	overflow: hidden;
	border: 1px solid #34548b;
}
.alert .data .btn
{
	background: url(../images/alertBtn.png) 0 0 no-repeat;
	width: 78px;
	height: 26px;
	float: right;
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 10px;
	margin-top: 10px;
	margin-left: 15px;
	border: none;
	outline: none;
	border-width: 0px;
}
.ModalPopupBG
{
	border: 2px;
	background-color: #dbdbdb;
	filter: alpha(opacity=50);
	opacity: 0.7;
}

.button-primary
{
	background: url(../images/button2.jpg) 0 0 no-repeat;
	width: 106px;
	height: 32px;
	color: #fff;
	font-size: 12px;
	border: none;
	line-height: 25px;
	padding: 1px 0 19px 0;
	cursor: pointer;
	font-weight: bold;
	float: left;
	margin-right: 1px;
	margin-bottom: 4px;
}
.but1
{
	padding: 8px 20px;
	margin: 10px 0;
}

.imgThumb
{
	width: 80px;
	height: 50px;
	padding: 2px;
	margin: 5px 15px;
	outline: 2px solid #ccc;
}
#myaccDiv
{
	width: 60px;
	height: 21px;
}



.photoUploadPage tr
{
	display: none;
}

.non
{
	font-size: 11px;
	text-transform: capitalize;
	color: #666;
	padding-top: -3px;
	text-shadow: none;
	padding-left: 10px;
}
.stockPhoto1
{
	text-align: center;
	width: 80px;
	margin: 0 auto;
	font-size: 11px;
	text-transform: capitalize;
	color: #fff;
	position: relative;
	z-index: 20;
	background: url(../images/content-back2.png) repeat;
	padding: 2px 0;
	top: -16px;
	left: -3px;
	line-height: 11px;
	font-weight: bold;
}
.thumbV
{
	width: 120px;
	height: 73px;
	overflow: hidden;
	position: relative;
	z-index: 19;
	cursor: pointer;
	outline: 2px solid #666;
}
.thumbH
{
	overflow: hidden;
	position: relative;
	z-index: 19;
	cursor: pointer;
}
.stockPhoto2, .stockPhoto3
{
	text-align: center;
	width: 120px;
	line-height: 11px;
	margin: 0 auto;
	position: absolute;
	z-index: 20;
	background: url(../images/content-back2.png) repeat;
	color: #fff;
	top: 65px;
	left: 3;
	font-size: 11px;
	text-transform: capitalize;
	padding: 2px 0;
	font-weight: bold;
}
.stockPhoto3
{
	width: 141px;
	top: 63px;
	left: 0;
}

.tips
{
	width: 98%;
	margin: 10px 20px;
	padding-bottom: 20px;
}
.tips li
{
	list-style: decimal;
	line-height: 22px;
}
.ad120-600
{
	width: 120px;
	height: 600px;
}
.ad120-600 img{ width:100%; height:auto; }

.popupBody
{
	width: 670px;
	padding: 15px 15px 80px 15px;
	background: #fff url(../images/popUp-back.jpg) bottom left no-repeat;
	height: auto;
	margin: 0 auto;
	text-align: center;
}
.h1
{
	font-family: "Myriad Pro";
	font-size: 45px;
	color: #ff921d;
	margin-bottom: 0;
	padding-bottom: 20px;
	padding-top: 15px;
	line-height: 40px;
	text-align: left;
}
.h32
{
	font-family: "Myriad Pro";
	font-size: 35px;
	color: #ff921d;
	font-weight: normal;
	color: #232323;
	margin-bottom: 0;
	padding-bottom: 20px;
	line-height: 40px;
	text-align: left;
}
.pp
{
	font-family: "Myriad Pro";
	font-size: 18px;
	line-height: 25px;
	color: #666;
	margin-bottom: 30px;
	text-align: left;
}
.popBut
{
	width: 80px;
	margin: 10px auto;
	float: none;
	text-align: center;
}

.toll-free
{
	position: fixed;
	width: 107px;
	height: 137px;
	background: url(../images/toll-free-back.png) 0 0 no-repeat;
	overflow: hidden;
	padding-top: 20px;
	left: 0;
	top: 20%;
}
.ul1
{
	margin: 0 0 0 20px;
}
.ul1 li
{
	list-style: decimal;
	line-height: 18px;
}

.preloader
{
	background: url(../images/loader.gif) center center no-repeat;
	display: inline-block;
}

.ZipVal-holder
{
	width: 100%;
	height: 100%;
	background: url(../images/content-back.png) repeat;
	padding: 0;
	margin: 0;
	position: fixed;
	z-index: 9999;
	display: none;
	top: 0;
	left: 0;
	overflow: hidden;
}
#ZipVal
{
	position: relative;
	z-index: 10000;
	width: 300px;
	height: 148px;
	margin: 15% auto;
	background: #fff;
	overflow: hidden;
}
.stock2
{
	width: 100%;
	position: absolute;
	z-index: 11;
	top: 150px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	background: url(../images/content-back.png) repeat;
	padding: 10px 0;
	text-align: center;
	line-height: 18px;
	text-transform: capitalize;
}
.stock3
{
	width: 120px;
	position: absolute;
	z-index: 11;
	top: 63px;
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	background: url(../images/content-back.png) repeat;
	padding: 1px 0;
	text-align: center;
	line-height: 11px;
	text-transform: capitalize;
}

/* Search Results Pagination */
#PaginationBlock
{
	display: block;
	margin-bottom: 6px;
}
.paginationHolder
{
	width: auto;
	height: 30px;
	overflow: hidden;
	text-align: right;
}
.ResultsPerPage
{
	float: right;
	width: 175px;
}
.searchResultsBox3
{
	width: 170px;
}
.subInfo
{
	padding: 6px;
	height: auto;
}
.subInfo td
{
	padding: 0 0 10px 0;
	text-align: left;
	font-size: 12px;
}

.subInfo td input[type='checkbox']
{
	margin: 0 0 0 30%;
}

.subInfoHed td
{
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	padding: 0;
}
.subInfo .last td
{
	padding-bottom: 0;
}
.liveChat
{
	width: 87px;
	height: 44px;
	position: absolute;
	z-index: 10;
	right: 0;
	top: -10px;
}

.testimonials
{
	width: 96%;
	padding: 15px;
	font-size: 12px;
	margin: 0 0 20px 0;
	border-left: 8px #999 solid;
	background: #eee;
	color: #666;
	font-style: italic;
}
.testimonials h4
{
	font-style: normal;
	color: #555;
	text-align: right;
}

.pack1, .pack2
{
	width: 263px;
	height: 389px;
	overflow: hidden;
	float: left;
	margin: 9px;
	padding: 20px;
	background: url(../images/pack1.png) no-repeat;
	border: #fff 1px solid;
	position: relative; /* -moz-box-shadow:    0 0 6px #333; 	-webkit-box-shadow: 0 0 6px #333; 	box-shadow:         0 0 6px #333; */
}
.pack2
{
	background: url(../images/packBack2.jpg) no-repeat;
}
.pack1 h3, .pack2 h3
{
	font-size: 21px;
	color: #ff6600;
	text-align: center;
	margin-bottom: 10px;
	line-height: 24px;
	font-weight: normal;
}
.pack1 ul
{
	margin: 15px 0 0 30px;
}
.pack1 ul li
{
	list-style: disc;
	margin: 0 0 6px 0;
	color: #333;
	font-weight: bold;
	font-size: 12px;
}
.startFree, .start99
{
	width: 216px;
	height: 132px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	right: 0;
	background: url(../images/startFree.png) right bottom;
}
.start99
{
	background: url(../images/start99.png) right bottom;
}
.box6
{
	border: #fff 3px solid;
	padding: 10px;
}
.box6:hover
{
	border: #ccc 3px solid;
}



.not
{
	font-size: 14px;
	color: #999;
	text-align: center;
	padding: 10px 0 20px 0;
	font-weight: bold;
	width: 98%;
	margin: 2px auto;
	text-align: center;
}
.not span
{
	text-align: center;
}

.detPrice20
{
	color: #Ff9900;
}
ul.towns
{
	margin: 6px 0 0 0;
	padding: 0;
}
ul li.st
{
	list-style: none;
	float: left;
	width: auto;
	padding: 0 6px 0 0;
	margin: 0 4px 0 0; /* 				background:#f4f2f2; 				border-right:#ccc 1px solid; 				border-bottom:#ccc 1px solid; 				border-top:#fff 1px solid; 				border-left:#fff 1px solid; 				*/
}

OL.ol
{
	counter-reset: item;
}
.ol LI
{
	display: block;
	margin: 5px 0;
}
.ol LI:before
{
	content: counters(item,   "." ) " ";
	counter-increment: item;
}
.border1
{
	line-height: 24px;
	border-bottom: #666 1px dotted;
	margin-bottom: 10px;
}



.emailAddress, .textarea
{
	border: #ccc 1px solid;
	background: #fff;
	padding: 2px;
	width: 95%;
	font-size: 12px;
	resize: none;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 30px;
	height: 300px;
	color: #666;
}

#divsubScribUs input[type=text], #divsubScribUs select{ padding:6px; font-size:12px; }
#divsubScribUs h4{ font-size:13px; }
#divsubScribUs .field1{ padding:10px; border:#999 1px dotted; margin-bottom:20px;}
#divsubScribUs .field1 legend{ font-size:15px; font-weight:bold; display:inline-block; background:#fff; padding:4px 7px; margin-left:10px; }


	
	.pp2{		
		font-size:14px;
		line-height:25px;
		color:#666;
		margin-bottom:30px;
		text-align:left;
		
	}
	
	.h123
{
	font-family: "Myriad Pro";
	font-size: 14px;
	color: #ff921d;
	margin-bottom: 0;
	padding-bottom: 20px;
	padding-top: 15px;
	line-height: 40px;
	text-align: left;
	
}


table.makeModelSel a{ font-size:11px; margin:5px 0 0 5px; display:block; }

#divsubScribUs input[type="text"], 
#divsubScribUs select{ padding:3px; }

#row1, #row2, #row3, #row4{ display:none; }
#row5 td{ padding:0 }
#txtSub, input.subScr, input.subScr1 { font-size:12px; color:#333;
         width:96%; padding:4px; background:#eee;
         border-bottom:#fff 1px solid;
         border-right:#fff 1px solid;
          }

.smallF {
	text-transform: capitalize;
	font-size: 12px;	
	padding: 5px 10px;
}
.butRotate
{
	height:16px;
	width:16px;
	background: url(../images/rotate-ccw.png) 0 0 no-repeat;
	border: none;
}

.logins fieldset{ margin:10px; padding:15px; border:#ccc 1px dotted; min-height:195px; }
.logins legend{ font-weight:bold; font-size:15px; }

/* New Details Page Headdings */
.h3 #lblTitle{ font-size:20px; margin-bottom:6px; display:block; }
.h3 #LabelSubtitle, #lblPrice1{ font-size:16px; font-weight:normal; }

 .sliderTip {
	background:#fff; box-shadow:0 0 6px rgba(0,0,0,0.3);
	font-size:11px; color:#ff4400; font-weight:bold; width:auto; padding:3px 6px;
	border-radius:3px;	
}
.detailsAd img{ width:100%; height:auto; }

.matched.left li{ width:114px; height:130px; float:left; margin:0 8px 16px 8px; border:#eee; background:#fff; box-shadow:0 0 6px rgba(0,0,0,0.3);
                  text-align:center;
                   }
                   .list-1.matched.left li img.thumbV{ width:114px; float:none; height:70px; border:none; }
                   .list-1.matched.left li strong{ font-weight:bold; display:block; margin:5px 0; padding:0 }
