/*!
 * Auther      : Jyothirmayudu.CH
 * Created on  : 5 July 2012
 * Mail        : ch.jmayudu@gmail.com
 * Discription : CSS for Production Team
 */
 
 body{ color:#666; }

.imgHolder{width:100%; position:relative; z-index:1; height:auto; padding:0;}
            .imgHolder ul{ list-style:none; margin:0; padding:0 }
            .imgHolder ul li{ float:left; margin:0 10px 10px 0; width:280px; height:auto; position:relative; z-index:5}
            .imgHolder ul li img{ width:274px; height:auto; margin:0 auto; border:#ccc 1px solid; padding:2px; background:url(../imagesOld/loading1.gif) center ni-repeat; }
           .carID{ font-size:13px; font-weight:bold; }
            .stock
            {
            	    display:none;
            	    position:absolute; 
            	    z-index:10; 
            	    width:280px; 
            	    padding:5px 0; 
            	    color:#fff; font-size:15px; font-weight:bold; text-align:center;
            	    left:0; bottom:10px;
            	    background:url(../imagesOld/content-back2.png) 0 0 repeat;
            }
           .proDet
           {
           	    width:100%;
           	    display:none;
           	}
        .detailsDiv
        {
            width: 100%;
            line-height:22px;
        }
        .Title
        {
            font-size: 28px;
            color: #121212;
            margin-bottom:20px;
            padding-bottom:15px; border-bottom:#ccc 1px dashed;
        }
        .Title span
        {
            color: #f95446;
        }
        .detailsDiv strong
        {
            display: inline-block;
            width: 100px;
            font-size: 12px;
            font-weight: bold;
        }
        .url{ color:#f95446;  font-weight:bold; }
        .disc strong{ width:130px; }        .disc h3,        .Comfort h3,        .h33{ font-size:22px; padding-bottom:10px; margin-bottom:10px; border-bottom:#eee 1px solid; color:#00658b; }               h1, h2, h3, h4, h5, h6, .title {
	font-family:'Source Sans Pro', Arial, sans-serif;
	font-weight:normal;
	
}
        strong{ color:#232323; }
        
        .SellerNotes strong{ width:70px; }